/* pseudo element */

h1::before{
    content: "Hello "; /* must write */
    color: rgb(114, 5, 114);
    font-size: 18px;
    background-color: wheat;
}
.special-effect::after{
    content: " Bye";
    font-size: 15px;
    background-color: tomato;
    color: white;
}

/* copy from website MDN */
/* body {
    counter-reset: section;
  }
  
  p::before {
    counter-increment: section;                   
    content: "Crush " counter(section) ": ";

    font-size: 20px;
    font-weight: 700;
  } */
  p::before{
      content: "❤️";
  }